/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#topLeftCorner {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 35%;
    
    overflow: hidden;
}


#bottomRightCorner {
    position: absolute;
    bottom: -20px;
    right: -10px;
    overflow: hidden;
    height: 40%;
}
html, body{
    width: 100%;
    height: 100%;
}
body {
    background-color: black;
    height: 100%;
}
#startBody {
 background-image: url(img/BigImg.png);
}

.vertHorizCenter {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.innerCenter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 30px;
    color: #FCFBFB;
    flex-basis: 100%;
    
}

.titleSubheading {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 24px;
    margin-top: 1.5em;
    flex-basis: 100%;
    color: #FCFCFC;
}
.center {
    display: flex;
    justify-content: center;
}
#topBtn{
    z-index: 2; /* this is done to prevent absolute positioned corners from causing problems */
    text-align: center;
    width: 240px;
    background: #3D3333;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 24px;
    color: #FCFCFC;
    border: none;
     border-radius: 5px;
     margin-top: 4em;
     padding: 30px;

}

#topBtn:hover {
    background:rgba(86, 86, 86, 1);
}

#bottomBtn {
    z-index: 2; /* this is done to prevent absolute positioned corners from causing problems */
    text-align: center;
    border: none;
    background: #3D3333;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    padding: 30px;
    line-height: 24px;
    width: 240px;
    color: #FCFCFC;
    background: linear-gradient(180deg, rgba(222, 101, 63, 0.97) 0%, rgba(222, 101, 63, 0.97) 80.73%, rgba(222, 101, 63, 0.97) 99.99%, rgba(222, 101, 63, 0) 100%);
    filter: blur(4px), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    margin-top: 2em;
}

#topFlex {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
#bottomFlex {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#bottomBtn:hover {
   background: rgba(228, 175, 158, 1);

}


/* login.html css */
#loginTitle {
    font-size: 50px;
}
#loginSubHeading {
    font-size: 25px;
    margin-bottom: 1.5em;
}
.inputLabel {
    display: flex;

    flex-basis: 50%;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
   
    font-family: 'Roboto', sans-serif;
}
.inputValue {
    display: flex;
    height: 60px;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    
}

input {
    height: 2em;
    -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  margin-right: 2em;
}

.inputLabelParagraph {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 1000px) {
    #topLeftCorner {
        content:url("img/desktopTopLeft.png");
        left: -11em;
        height: auto;
    }
 
    #bottomRightCorner {
        content:url("img/desktopBottomRight.png");
        right: -7em;
        height: auto;
    }
 
 
    #topFlex {
     flex-basis: 30%;
     display: flex;
     justify-content:  flex-end;
     margin-right: 5%;
     margin-left: 0%;
    
   }
 
   #title {
       font-size: 80px;
       padding-top: .3em;
   }
 #bottomFlex {
     flex-basis: 30%;
     display: flex;
     justify-content: center;
     margin-left: 5%;
     margin-right: 0%;
     
 }
 
 #topBtn{
     
     background: #3D3333;
     font-style: normal;
     font-weight: normal;
     font-size: 30px;
     padding: 30px;
     line-height: 24px;
     width: 8em;
     color: #FCFCFC;
     border: none;
      border-radius: 5px;
      margin-top: 2.6em;
      flex-basis: 90%;
      
 }
 
 #bottomBtn {
    
     flex-basis: 90%;
     background: #3D3333;
     font-style: normal;
     font-weight: normal;
     font-size: 30px;
     padding: 30px;
     line-height: 24px;
     width: 8em;
     color: #FCFCFC;
     background: linear-gradient(180deg, rgba(222, 101, 63, 0.97) 0%, rgba(222, 101, 63, 0.97) 80.73%, rgba(222, 101, 63, 0.97) 99.99%, rgba(222, 101, 63, 0) 100%);
     filter: blur(4px), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     border-radius: 5px;
     margin-top: 2.6em;
 }
 
 
 
     
   }



   @media only screen and (min-width: 1280px) {

    #topLeftCorner {
        left: -10em;
    }
}
@media only screen and (min-width: 1600px) {

    #topLeftCorner {
        left: -50px;
    }

    #bottomRightCorner {
        right: 0px;
    }

    #bottomBtn{
        padding: 40px;
        font-size: 40px;
    }

    #topBtn {
        padding: 40px;
        font-size: 40px;
    }
}






